.products-list {
  display: flex;
  flex-direction: column;
  width: 1200px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: left;
}
.header-products {
  flex: 2;
}
.header-delivery-time {
  flex: 1;
}