<div class="products-list">
  <div class="header">
    <div class="header-products">Products</div>
    <div class="header-delivery-time">Delivery time</div>
  </div>
  <div class="item-list">
    <app-product-list-item
      *ngFor="let item of items"
      [item]="item"
      (onProductSelect)="productSelected($event)"
    ></app-product-list-item>
  </div>
</div>