<div class="form-wrapper" [formGroup]="form">
  <label class="label" [attr.for]="question.key">{{capitalizeFirstLetter(question.label)}}:</label>
  <div class="dropdown-wrapper" [ngSwitch]="question.controlType">
    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" (change)="onChange()">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>
  </div> 
</div>