<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions" class="form-row">
      <app-question 
        *ngIf="question"
        [question]="question"
        [form]="form"
        (change)="onSelectChange()"
      ></app-question>
    </div>
  </form>
</div>