<app-dynamic-form 
  *ngIf="questions?.length > 0"
  [questions]="questions"
  (values)="onFilterChange($event)"
></app-dynamic-form>
<div class="filter">
  <label>Platform:</label>
  <select [(ngModel)]="selectedPlatform">
    <option *ngFor="let platform of platforms" [ngValue]="platform">{{platform}}</option>
  </select>
</div>