.button {
  width: 100px;
  height: 30px;
}
.product-image {
  width: 60px;
  height: 45px;
}
.product-list-item {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 10px;
  border: 1px solid darkgray;
}
.product-info {
  flex: 2;
  display: flex;
}
.product-title {
  align-self: center;
  margin-left: 10px;
}
.purchase-details {
  display: flex;
  flex: 1;
  justify-content: space-between;
}