<div class="product-list-item">
  <div class="product-info">
    <img class="product-image" [src]="item.image_url">
    <b class="product-title">{{item.title}}</b>
  </div>
  <div class="purchase-details">
    <span>1-24h</span>
    <button class="button" (click)="itemSelected()">Buy</button>
  </div>
</div>