<div class="home-page">
  <div class="banner">
      <img class="banner-image" src="https://i.ytimg.com/vi/MqTBtlmoiLk/maxresdefault.jpg" alt="banner-image"/>
  </div>
  <div class="title">
    <h1>Asgard Marketplace</h1>
  </div>
  <hr class="rule"/>
  <div class="page-description">
      <p>Maecenas sagittis, diam a lobortis malesuada, erat lorem pretium neque, at commodo nisl sem ut magna. Maecenas massa turpis, sagittis eget vulputate vitae, fermentum vitae felis. Donec eget tortor libero. Aliquam aliquet fermentum nulla. Etiam viverra nisi et nulla varius sollicitudin non et odio. Vivamus vitae dolor porta, tristique nunc eget, hendrerit diam. Sed euismod nunc non est sodales porttitor. Aliquam erat volutpat. Ut nec velit rhoncus, condimentum velit quis, porttitor velit. Vestibulum consequat ullamcorper tempus. Nulla nec lacus et mauris semper sodales sit amet et risus. Sed mollis condimentum ultricies. Nam in ante pellentesque, gravida lorem ut, sodales velit.</p>
  </div>
  <hr class="rule"/>
  <div class="games-section">
      <app-game-tile
        *ngFor="let game of games$ | async"
        [game]="game"
      ></app-game-tile>
  </div>
</div>