:host {
  display: flex;
  justify-content: center;
}
.rule {
  width: 100%;
}
.title {
  width: 100%;
  text-align: center;
}
.home-page {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}
.banner-image {
  width: 100%;
}
.games-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}