.game-tile {
  width: 400px;
  height: 330px;
  text-align: center;
  border: 1px solid darkgrey;
}
.game-tile:hover, .game-label:hover {
  cursor: pointer;
}
.game-image {
  width: 400px;
  height: 300px;
}