<div class="search-page" *ngIf="game$ | async; let game">
  <div class="search-filters">
    <app-search-filter-list
      [game]="game"
      (filtersChanged)="updateFilter($event)"
      (platformChanged)="updatePlatform($event)"
    ></app-search-filter-list>
  </div>
  <div class="search-page-content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie mattis scelerisque. Ut malesuada, leo non euismod molestie, arcu magna euismod libero, sed pellentesque mauris felis ac eros. Pellentesque eget rhoncus nibh. Sed eget feugiat nulla, in porttitor ex. Mauris nec cursus sapien. Fusce ac efficitur justo, nec molestie magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed nunc lacus. Maecenas ac tortor gravida, convallis turpis non, rutrum neque. Integer nec ante enim. Morbi odio nulla, laoreet et fringilla eu, porta eu mauris. Suspendisse elementum, libero eu accumsan mattis, nulla ex sodales erat, vel dapibus nulla nunc sit amet sapien. Nulla id sollicitudin eros. Donec et pulvinar risus. Ut eleifend libero luctus mauris ornare pretium.
    </p>
  </div>
  <div class="game-products-list">
    <app-products-list *ngIf="filters; else fullList"
      [items]="filteredGameItems" 
      (onSelectedGameItem)="selectGameItem($event)"
    ></app-products-list>

    <ng-template #fullList>
      <app-products-list
        [items]="gameItems" 
        (onSelectedGameItem)="selectGameItem($event)"
      ></app-products-list>
    </ng-template>
  </div>
</div>